<a href="https://colab.research.google.com/github/shyamkrishnan1999/ML-project-1/blob/master/EDA_car_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
#Importing the required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Here we have imported the necessary libraries.Now let us load the dataset.

In [38]:
#Loading the dataset

data=pd.read_csv("data.csv")
data.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

Lets check a few measures on our data.

In [ ]:
#Checking various measures in our data

#A small info about our data 
data.info()

In [ ]:
#Shape of ur data
data.shape

In [ ]:
#Checking for null values
data.isnull().sum()

In [ ]:
#Small description about our data
data.describe()

From observing the dataset we can see that 'no of doors','market category' and 'vechicle style' aren't much relevant so we drop them.

In [ ]:
#Dropping irrelvant columns

data=data.drop(columns=['Number of Doors','Market Category','Vehicle Style'])
data.head()

In [ ]:
#Filling null values and removing duplicates

data=data.fillna(method='ffill').drop_duplicates()
data.duplicated(subset=None).unique()

In [49]:
#Renaming columns

data=data.rename(columns={'Engine HP':'HP','Engine Cylinders':'Cylinders',
                     'Transmission Type':'Transmission','Driven_Wheels':'Drive Mode','highway MPG':'MPG-H','city mpg':'MPG-C','MSRP':'Price'})

In [ ]:
#Rechecking our data
data.isna().sum()