<a href="https://colab.research.google.com/github/shyamkrishnan1999/ML-project-1/blob/master/EDA_car_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing the required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Here we have imported the necessary libraries.Now let us load the dataset.

In [2]:
#Loading the dataset

url="https://raw.githubusercontent.com/shyamkrishnan1999/ML-project-1/master/data.csv"
data=pd.read_csv(url)
data.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

Lets check a few measures on our data.

In [3]:
#Checking various measures in our data

#A small info about our data 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [4]:
#Shape of your data
data.shape

(11914, 16)

In [5]:
#Checking for null values
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [6]:
#Small description about our data
data.describe()

               Year    Engine HP  ...    Popularity          MSRP
count  11914.000000  11845.00000  ...  11914.000000  1.191400e+04
mean    2010.384338    249.38607  ...   1554.911197  4.059474e+04
std        7.579740    109.19187  ...   1441.855347  6.010910e+04
min     1990.000000     55.00000  ...      2.000000  2.000000e+03
25%     2007.000000    170.00000  ...    549.000000  2.100000e+04
50%     2015.000000    227.00000  ...   1385.000000  2.999500e+04
75%     2016.000000    300.00000  ...   2009.000000  4.223125e+04
max     2017.000000   1001.00000  ...   5657.000000  2.065902e+06

[8 rows x 8 columns]

From observing the dataset we can see that 'no of doors', ' Engine fuel type' ,'market category' and 'vechicle style' aren't much relevant so we drop them.

In [7]:
#Dropping irrelvant columns

data=data.drop(columns=['Number of Doors','Market Category','Vehicle Style','Engine Fuel Type'])
data.head()

  Make       Model  Year  Engine HP  ...  highway MPG city mpg Popularity   MSRP
0  BMW  1 Series M  2011      335.0  ...           26       19       3916  46135
1  BMW    1 Series  2011      300.0  ...           28       19       3916  40650
2  BMW    1 Series  2011      300.0  ...           28       20       3916  36350
3  BMW    1 Series  2011      230.0  ...           28       18       3916  29450
4  BMW    1 Series  2011      230.0  ...           28       18       3916  34500

[5 rows x 12 columns]

In [8]:
#Filling null values and removing duplicates

data=data.dropna().drop_duplicates()
data.duplicated(subset=None).unique()

array([False])

In [9]:
#Renaming columns

data=data.rename(columns={'Engine HP':'HP','Engine Cylinders':'Cylinders',
                     'Transmission Type':'Transmission','Driven_Wheels':'Drive Mode','highway MPG':'MPG-H','city mpg':'MPG-C','MSRP':'Price'})

In [10]:
#Rechecking our data
data.isna().sum()

Make            0
Model           0
Year            0
HP              0
Cylinders       0
Transmission    0
Drive Mode      0
Vehicle Size    0
MPG-H           0
MPG-C           0
Popularity      0
Price           0
dtype: int64

Let us plot outliers in our data and remove them.

In [ ]:
#plotting outliers in data

sns.boxplot(data['HP'])

In [ ]:
sns.boxplot(data['Cylinders'])

In [ ]:
sns.boxplot(data['MPG-H'])

In [ ]:
sns.boxplot(data['MPG-C'])

In [ ]:
sns.boxplot(data['Popularity'])

In [ ]:
sns.boxplot(data['Price'])

In [ ]:
#Removing outlirers

Q1=data.quantile(0.25)
Q3=data.quantile(0.75)
IQR=Q3-Q1
data=data[~((data<(Q1-1.5*IQR))|(data>(Q3+1.5*IQR))).any(axis=1)]
sns.boxplot(data['HP'])  #Checking whether outliers have been removed or not

Lets look which car brands are most represented in the dataset and their average prices.

In [83]:
top_brands=data['Make'].value_counts().head(10)
top_brands

Chevrolet     950
Toyota        536
Volkswagen    508
Nissan        497
GMC           445
Dodge         393
Honda         368
Mazda         368
Suzuki        333
Infiniti      310
Name: Make, dtype: int64